::ng-deep .ngx-pagination .current {
    background: var(--theme-primary-color) !important;
    border: none !important;
    color: var(--theme-white-color) !important;
    border-radius: 50% !important;
}
.fa-search {
    right: 0px !important;
    top: 0% !important;
    position: relative !important;
}