<!--============== Footer Section Start ==============-->
<footer class="full-row footer-default-dark bg-footer" style="padding-bottom: 30px; padding-top: 120px">
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
            <div class="col">
                <div class="footer-widget mb-4">
                    <div class="footer-logo mb-4">
                        <a><img src="assets/assets/images/logo/default-monochrome-white2.svg"
                                alt="Image not found!" style="width: 170px;" /></a>
                    </div>
                    <p>Explore handpicked properties perfectly suited to your needs through our straightforward sales process.</p>
                </div>
                <div class="footer-widget media-widget mb-4">
                    <a href="https://twitter.com/thebharatestate" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/the-bharat-real-estate-031a74275" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.pinterest.com/thebharatrealestate" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="footer-widget contact-widget mb-4">
                    <h3 class="widget-title mb-4">Contact Info</h3>
                    <ul>
                        <li>Opp. Metro Piller No.16, Near Mansarovr Metro Station, Jaipur, Rajasthan.</li>
                        <li><span><i class="fas fa-phone"></i> &nbsp;</span>+91 95494-43222</li>
                        <li><span><i class="fas fa-phone"></i> &nbsp;</span>+91 93511-11622</li>
                        <li><span><i class="fas fa-envelope"></i> &nbsp;</span> Info@thebharatrealestate.com</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer-widget footer-nav mb-4">
                    <h3 class="widget-title mb-4">Quick Links</h3>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="about">About</a></li>
                        <li><a routerLink="contact">Contact Us</a></li>
                        <li><a routerLink="gallery">Gallery</a></li>
                        <li><a routerLink="career">Career</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer-widget newslatter-widget mb-4">
                    <h4 class="widget-title mb-4">Contact Us</h4>
                    <p>Feel free to get in touch with us at your convenience; our team is here to assist you every step of the way.</p>
                    <a class="btn btn-primary w-100" routerLink="/contact">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--============== Footer Section End ==============-->

<!--============== Copyright Section Start ==============-->
<div class="copyright bg-footer text-default py-4">
    <div class="container">
        <div class="row row-cols-md-2 row-cols-1">
            <div class="col">
                <span class="text-white">© {{currentYear}} The Bharat Real Estate All right reserved</span>
            </div>
        </div>
    </div>
</div>
<!--============== Copyright Section End ==============-->

<!-- Scroll to top -->
<div class="scroll-top-vertical xs-mx-none" id="scroll">
    <i class="fa-solid fa-arrow-right-long"></i>
</div>
<!-- End Scroll To top -->