<!--============== Page Banner Start ==============-->
<div class="page-banner-simple bg-secondary py-40 mt-xl-5 mt-md-2 mt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="banner-title text-white">Who We Are ?</h3>
                <span class="banner-tagline font-medium text-white">We're a passionate team driven by excellence and
                    innovation.</span>
            </div>
        </div>
    </div>
</div>
<!--============== Page Banner End ==============-->

<!--============== Features Start ==============-->
<div class="full-row pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-secondary mb-5">
                    <span class="tagline-2 text-primary">Capablities</span>
                    <h2 class="text-secondary mb-4">Awesome Real Estate Company for Housing and Construction.</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col border-start border-geay mb-5">
                        <div class="simple-thumb transation px-4">
                            <span class="h3 down-line text-general mb-4 d-table">01</span>
                            <h5 class="my-3"><a class="text-secondary">Property Booking</a></h5>
                            <p>Unlock your dream property with our simplified booking process.</p>
                        </div>
                    </div>

                    <div class="col border-start border-geay mb-5">
                        <div class="simple-thumb transation px-4">
                            <span class="h3 down-line text-general mb-4 d-table">02</span>
                            <h5 class="my-3"><a class="text-secondary">Property Deal</a></h5>
                            <p>Facilitating seamless property transactions through strategic innovation and impactful
                                campaigns.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Features End ==============-->

<!--============== Banner Start ==============-->
<div class="full-row paraxify"
    style="background-image: url(assets/assets/images/background/bg-4.png); background-repeat: no-repeat; background-position: center center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="text-white">
                    <span class="tagline-2 text-primary">Our Agency Story</span>
                    <p>We aim to build trust-based relationships and drive growth in the real estate industry through
                        quality training and service. Our focus is on fostering a positive environment and promoting
                        ethical practices through events and training. We partner with leading developers and support
                        professionals in achieving success while ensuring buyers receive optimal value.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Banner End ==============-->

<!--============== Statistics Section Start ==============-->
<div class="full-row pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-secondary mb-5">
                    <span class="tagline-2 text-primary">Statistics</span>
                    <h2 class="text-secondary mb-4">Number of projects we completed</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="fact-counter">
                    <div class="row row-cols-md-2 row-cols-1">
                        <div class="col">
                            <div class="mb-30 text-start count wow fadeIn" data-wow-duration="300ms">
                                <span class="count-num text-secondary h1" data-speed="3000" data-stop="65">65</span>
                                <div class="text-secondary h5 py-2">Happy Clients</div>
                                <p>Experience the satisfaction of our clients as they share their success stories and
                                    positive experiences.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-30 text-start count wow fadeIn" data-wow-duration="300ms">
                                <span class="count-num text-secondary h1" data-speed="3000" data-stop="137">137</span>
                                <div class="text-secondary h5 py-2">Projects Completed</div>
                                <p>Discover our impressive portfolio of completed projects, showcasing our dedication to
                                    quality and excellence.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--============== Statistics Section End ==============-->



<!--============== Statistics Section Start ==============-->
<div class="full-row pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-secondary mb-5">
                    <span class="tagline-2 text-primary">Meet Our Corporate Team</span>
                    <h2 class="text-secondary mb-4">Professional & Dedicated Team</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="3block-carusel nav-disable owl-carousel">
                    <div class="item border">
                        <!-- Property Grid -->
                        <div class="property-grid-1 property-block bg-white transation-this hover-shadow ">
                            <div
                                class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                <a><img src="../../assets/assets/images/team/1.jpg"
                                        alt="Image Not Found!"></a>
                            </div>
                            <div class="property_text p-4">
                                <h5 class="listing-title"><a><b>Anushka Sharma</b></a>
                                </h5>
                                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> Senior Sales Executive </span>
                            </div>

                        </div>
                    </div>
                    <div class="item border">
                        <!-- Property Grid -->
                        <div class="property-grid-1 property-block bg-white transation-this hover-shadow ">
                            <div
                                class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                <a><img src="../../assets/assets/images/team/2.jpg"
                                        alt="Image Not Found!"></a>
                            </div>
                            <div class="property_text p-4">
                                <h5 class="listing-title"><a><b>Virat Kohli</b></a>
                                </h5>
                                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> Sales Coordinator </span>
                            </div>

                        </div>
                    </div>
                    <div class="item border">
                        <!-- Property Grid -->
                        <div class="property-grid-1 property-block bg-white transation-this hover-shadow ">
                            <div
                                class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                <a><img src="../../assets/assets/images/team/3.jpg"
                                        alt="Image Not Found!"></a>
                            </div>
                            <div class="property_text p-4">
                                <h5 class="listing-title"><a><b>Nita Ambani</b></a>
                                </h5>
                                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> Sales Associate </span>
                            </div>

                        </div>
                    </div>
                    <div class="item border">
                        <!-- Property Grid -->
                        <div class="property-grid-1 property-block bg-white transation-this hover-shadow ">
                            <div
                                class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                                <a><img src="../../assets/assets/images/team/4.jpg"
                                        alt="Image Not Found!"></a>
                            </div>
                            <div class="property_text p-4">
                                <h5 class="listing-title"><a><b>Mukesh Ambani</b></a>
                                </h5>
                                <span class="listing-location"><i class="fas fa-map-marker-alt"></i>  Sales Associate </span>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Statistics Section End ==============-->


<!--============== Agents Start ==============-->
<div class="full-row">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="md-mb-30">
                    <span class="tagline-2 text-primary">Awards & Honors</span>
                    <h2 class="text-secondary mb-0">Awards</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-md-4 row-cols-sm-2 row-cols-2 g-4 ">
                    <div class="col">
                        <a class=" overflow-hidden pe-5 d-block">
                            <img src="assets/assets/awards/vrb_logo.png" alt="creative template" style="height: 100px;width: 100%;">
                        </a>
                    </div>
                    <div class="col">
                        <a class=" overflow-hidden pe-5 d-block">
                            <img src="assets/assets/awards/Riyasat-or-png.png" alt="creative template" style="height: 100px;width: 100%;">
                        </a>
                    </div>
                    <div class="col">
                        <a class=" overflow-hidden pe-5 d-block">
                            <img src="assets/assets/awards/cropped-bhumija_logo-removebg-preview-1-1-247x95.png" alt="creative template" style="height: 100px;width: 100%;">
                        </a>
                    </div>
                    <div class="col">
                        <a class=" overflow-hidden pe-5 d-block">
                            <img src="assets/assets/awards/happy.png" alt="creative template" style="height: 100px;width: 100%;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Agents End ==============-->