<!--============== Page Banner Start ==============-->
<div class="page-banner-simple bg-secondary py-40" id="banner"
    style="background-image: url(../../assets/assets/images/background/bg-4.png); background-repeat: no-repeat; background-position: center center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="banner-title text-white">Contact Us</h3>
                <span class="banner-tagline font-medium text-white">Reach out to us today for inquiries or
                    support.</span>
            </div>
        </div>
    </div>
</div>
<!--============== Page Banner End ==============-->

<!--============== Contact form Start ==============-->
<div class="full-row pt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-2">
                <h4 class="down-line mb-4">Get In Touch</h4>
                <p>Have questions or need assistance? Reach out to us anytime; we're here round-the-clock to help.</p>
                <div class="mb-3">
                    <ul>
                        <li class="mb-3">
                            <h6 class="mb-0">Office Address :</h6> Opp. Metro Piller No.16, Near Mansarovr Metro Station, Jaipur, Rajasthan
                        </li>
                        <li class="mb-3">
                            <h6>Contact Number :</h6> (+91) 95494-43222, (+91) 93511-11622
                        </li>
                        <li class="mb-3">
                            <h6>Email Address :</h6> Info@thebharatrealestate.com
                        </li>
                    </ul>
                </div>
                <h5 class="mb-2">Career Info</h5>
                <p>If you’re interested in employment opportunities at <b>The Bharat Real Estate</b>, please email us:<br>
                    <a href="mailto:Info@thebharatrealestate.com">Info@thebharatrealestate.com</a>
                  </p>
                  
            </div>
            <div class="col-md-7 order-md-1">
                <h4 class="down-line mb-4">Send Message</h4>
                <div class="form-simple">
                    <form [formGroup]="contactForm" id="contact-form" (ngSubmit)="contactUs()">
                        <div class="row">
                            <div class="col-md-6 mb-20">
                                <label class="mb-2">Full Name:</label>
                                <input placeholder="Enter your name" formControlName="name" type="text"
                                    class="form-control bg-white" required="">
                                    <small class="text-danger" *ngIf="!contactForm.get('name')?.valid && submitForm">Please Enter Your Name</small>
                            </div>
                            <div class="col-md-6 mb-20">
                                <label class="mb-2">Your Email:</label>
                                <input placeholder="Enter your email" formControlName="email" type="email"
                                    class="form-control bg-white" required="">
                                    <small class="text-danger" *ngIf="!contactForm.get('email')?.valid && submitForm">Please Enter Your Email</small>
                            </div>
                            <div class="col-md-12 mb-20">
                                <label class="mb-2">Subject:</label>
                                <input placeholder="Enter subject" formControlName="subject" type="text"
                                    class="form-control bg-white" required="">
                                    <small class="text-danger" *ngIf="!contactForm.get('subject')?.valid && submitForm">Please Enter Subject</small>
                            </div>
                            <div class="col-md-12 mb-20">
                                <label class="mb-2">Contact Number:</label>
                                <input placeholder="Enter contact number" formControlName="mobile" type="tel"
                                    class="form-control bg-white" required="" maxlength="10" onkeypress="return /[0-9 ]/i.test(event.key)">
                                    <small class="text-danger" *ngIf="!contactForm.get('mobile')?.valid && submitForm">Please Enter Contact Number</small>
                            </div>
                            <div class="col-md-12 mb-20">
                                <label class="mb-2">Message:</label>
                                <textarea placeholder="Enter your message" formControlName="message"
                                    class="form-control bg-white" rows="8" required=""></textarea>
                                    <small class="text-danger" *ngIf="!contactForm.get('message')?.valid && submitForm">Please Enter Message</small>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary" name="submit" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Contact form End ==============-->

<app-loader *ngIf="loader"></app-loader>