<!--============== Page title Start ==============-->
<div class="full-row py-5" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb" class="mb-2">
                    <ol class="breadcrumb mb-0 bg-transparent p-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/listing">Listing</a></li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Project Detail</li>
                    </ol>
                </nav>
                <h3 class="text-secondary">{{propertyData?.property_name}}</h3>
            </div>
        </div>
    </div>
</div>
<!--============== Page title End ==============-->

<!--============== Property Slider Start ==============-->
<div class="full-row p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="single-property" style="width:1200px; height:500px; margin:0 auto 30px;">
                    <!-- Slide 1-->
                    <div *ngFor="let item of propertyData?.property_image" class="ls-slide" data-ls="duration:7500; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;">
                        <img width="1920" height="1280" src="{{baseUrl}}{{item?.path}}" class="ls-bg"
                            alt="" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Property Slider End ==============-->

<!--============== Property Details Start ==============-->
<div class="full-row pt-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 order-2">
                <div class="property-overview border rounded bg-white p-30 mb-30">
                    <div class="row row-cols-1">
                        <div class="col">
                            <h5 class="mb-4">Get Contact</h5>
                            
                            <form class="contact_message form-boder" [formGroup]="propertyForm" id="contact-form" (ngSubmit)="propertySubmit()" novalidate="novalidate">
                                <div class="row g-3">
                                    <div class="col-md-12 col-sm-12">
                                        <input class="form-control" id="name" name="name" placeholder="Name"
                                            type="text" formControlName="name">
                                            <small class="text-danger" *ngIf="!propertyForm.get('name')?.valid && submitForm">Please Enter Your Name</small>
                                    </div>
                                    
                                    <div class="col-md-12 col-sm-12">
                                        <input class="form-control" id="mobile" name="mobile" placeholder="Mobile Number"
                                            type="text" formControlName="mobile" maxlength="10" minlength="10">
                                            <small class="text-danger" *ngIf="!propertyForm.get('mobile')?.valid && submitForm">Please Enter Your Mobile</small>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <input class="form-control" id="email" name="email" placeholder="Email Address"
                                            type="email" formControlName="email">
                                            <small class="text-danger" *ngIf="!propertyForm.get('email')?.valid && submitForm">Please Enter Your Email</small>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <textarea class="form-control" id="message" rows="5" name="message"
                                            placeholder="Message" formControlName="message"></textarea>
                                            <small class="text-danger" *ngIf="!propertyForm.get('message')?.valid && submitForm">Please Enter Your Message</small>
                                    </div>
                                    <div class="col-md-12 col-sm-6">
                                        <button class="btn btn-primary" id="send" value="send"
                                            type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-1">
                <div class="property-overview border summary rounded bg-white p-30 mb-30">
                    <div class="row mb-4">
                        <div class="col-auto">
                            <div class="post-meta font-small text-uppercase list-color-primary">
                                <a href="#" class="listing-ctg"><i
                                        class="fa-solid fa-building"></i><span>{{propertyData?.property_category}}</span></a>
                            </div>
                            <h4 class="listing-title"><a
                                    href="property-single-v1.html">{{propertyData?.property_name}}</a>
                            </h4>
                            <span class="listing-location"><i class="fas fa-map-marker-alt text-primary"></i>
                                {{propertyData?.property_address}}, {{propertyData?.property_location}}</span>
                        </div>
                        <!-- <div class="col-auto ms-auto xs-m-0 text-end xs-text-start pb-4">
                            <span class="listing-price">₹{{propertyData?.property_price}}<small>( Price Only
                                    )</small></span>
                            <span
                                class="text-white font-mini px-2 rounded product-status ms-auto xs-m-0 py-1 bg-primary"><i
                                    class="fas fa-check"></i> Available</span>
                        </div> -->
                        <div class="col-12">
                            <!-- <div class="product-offers mt-2">
                                <ul class="product-offers-list">
                                    <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off
                                        (price inclusive of discount)</li>
                                    <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on
                                        VISA Cards</li>
                                    <li class="product-offer-item"> <strong>No cost EMI $49/month.</strong> Standard EMI
                                        also available</li>
                                </ul>
                            </div> -->
                            <ul class="quick-meta mt-4">
                               
                                <li class="bg-light"><a title="Download PDF" class="text-dark"><i
                                            class="fas fa-download flat-mini"></i></a></li>
                                <li class="bg-primary w-auto"><a target="_blank" href="{{baseUrl}}{{propertyData?.property_broucher?.path}}" class="px-5 text-white">Download Broucher</a></li>
                            </ul>

                            <hr>
                           
                        </div>
                    </div>
                    <div class="row row-cols-1">
                        <div class="col">
                            <h5 class="mb-3">Description</h5>
                            <p>
                                {{propertyData?.property_description}}
                            </p>
                            
                        </div>
                        <div class="mt-2">
                            <ul class="list-three-fold-width">
                                <li><span class="font-500">No. of BedRooms:-</span> {{propertyData?.no_of_bedrooms}}</li>
                                <li><span class="font-500">No. of BathRooms:-</span> {{propertyData?.no_of_bathrooms}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="property-overview border rounded bg-white p-30 mb-30">
                    <div class="row row-cols-1">
                        <div class="col">
                            <h5 class="mb-3">Property Information</h5>
                            <div class="table-striped overflow-x-scroll pb-2">
                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <td>Property Id :</td>
                                            <td>{{propertyData?.property_ID}}</td>
                                            <td>Listing Type :</td>
                                            <td>For {{propertyData?.property_type}}</td>
                                        </tr>
                                        <tr>
                                            <td>Property Type:</td>
                                            <td>{{propertyData?.property_category}}</td>
                                            <td>Current Owner :</td>
                                            <td>The Bharat Real Estate</td>
                                        </tr>
                                        <tr>
                                            <td>Insurance :</td>
                                            <td>Yes</td>
                                            <td>Architecture :</td>
                                            <td>The Bharat Real Estate</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-overview border rounded bg-white p-30 mb-30">
                    <div class="row row-cols-1">
                        <div class="col">
                            <h5 class="mb-3">Property Features</h5>
                            <ul class="list-three-fold-width list-style-tick">
                                <li *ngFor="let amenity of propertyData?.amenities.split(', ')">{{amenity}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Property Details End ==============-->