/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Default margin-top */
#banner {
    margin-top: 100px;
}

/* Media query for small screens */
@media (max-width: 576px) {
    #banner {
        margin-top: 0; /* Set margin-top to 0 on small screens */
    }
}