<!--============== Slider Area Start ==============-->
<div class="full-row p-0 overflow-hidden">

  <div id="slider" class="overflow-hidden" style="width:1200px; height:780px; margin:0 auto;margin-bottom: 0px;">

    <!-- Slide 1-->
    <div *ngFor="let item of sliderData" class="ls-slide"
      data-ls="bgsize:cover; bgposition:50% 50%; duration:5000; transition2d:104; kenburnsscale:1.00;">
      <img width="1920" height="960" src="{{baseUrl}}{{item?.slider_image?.path}}" class="ls-bg" alt="" />

      <p style="font-size:48px; font-weight:700; top:300px; left:50%; font-family: 'Sen', sans-serif;"
        class="ls-l ls-hide-phone text-white"
        data-ls="offsetyin:100%; durationin:1500; delayin:1000; clipin:0 0 100% 0; durationout:400; parallaxlevel:0;">
        {{item?.text_one}}</p>
      <p style="top:380px; left:50%; text-align:center; font-weight:400; font-style:normal; text-decoration:none; width:650px; font-size:18px; color:#ffffff; line-height:30px; white-space:normal;"
        class="ls-l ls-hide-phone"
        data-ls="offsetyin:100%; durationin:1500; delayin:1500; clipin:0 0 100% 0; durationout:400; parallaxlevel:0;">
        {{item?.text_two}}
      </p>

    </div>



  </div>
</div>
<!--============== Slider Area End ==============-->

<!--============== Property Search Form Start ==============-->
<div class="full-row p-0 property-search-form on-slider">
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 mx-auto">
        <form class="bg-white shadow-sm quick-search form-icon-right position-relative ">
          <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">

            <!-- Extra-extra-large screens (xxl) -->
            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <label for="formFile">*City</label>
                <select class="form-control" (change)="getCityValue($event)">
                    <option disabled selected>Select City</option>
                    <option *ngFor="let item of cityData">{{item}}</option>
                </select>
            </div>
        
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="position-relative">
                    <label for="location">*Location</label>
                    <ng-select class="form-control locationInput" notFoundText="There is no location"
                        [items]="locationsByCity" bindLabel="name" placeholder="Select Location"
                        [(ngModel)]="selectedLocation" [ngModelOptions]="{standalone: true}"></ng-select>
                    <i class="flaticon-placeholder flat-mini icon-font y-center text-dark"></i>
                </div>
            </div>
        
            <div class="col-xxl-2 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <!-- The label for the button is hidden -->
                <label for="formFile" style="visibility: hidden;">*Button</label>
                <button class="btn btn-primary w-100" (click)="searchByCity()">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        
        </div>
        

          <div class="row mt-4">
            <div class="col">
              <div class="text-center">
                <p class="text-secondary mb-0">Explore properties in your desired city and location with our convenient search feature.</p>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!--============== Property Search Form End ==============-->

<!--============== Recent Property Start ==============-->
<div class="full-row bg-light">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="text-secondary text-center mb-5">
          <h2 class="text-secondary mx-auto mb-4">Exclusive Project Picks</h2>
          <span class="d-table w-50 w-sm-100 sub-title mx-auto text-center">Experience luxury living with our carefully
            selected premier properties.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="3block-carusel nav-disable owl-carousel">
          <div class="item" *ngFor="let item of propertyData">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span [ngClass]="{'bg-success': item?.property_type === 'Sale', 'bg-danger': item?.property_type === 'Sold'}" class="sale text-white">
                    <ng-container *ngIf="item?.property_type === 'Sale'">For {{item?.property_type}}</ng-container>
                    <ng-container *ngIf="item?.property_type === 'Sold'">{{item?.property_type}}</ng-container>
                  </span>
                  
                </div>
                <a routerLink="/property-detail/{{item?._id}}"><img src="{{baseUrl}}{{item?.property_image[0]?.path}}"
                    alt="Image Not Found!" style="height: 300px;"></a>
                <a class="listing-ctg text-white"><i
                    class="fa-solid fa-building"></i><span>{{item?.property_category}}</span></a>

              </div>
              <div class="property_text p-4">
                <!-- <span class="listing-price">₹{{item?.property_price}}</span> -->
                <h5 class="listing-title"><a><b>{{item?.property_name}}</b></a>
                </h5>
                <span>{{item?.property_description.substring(0, item?.property_description.indexOf(' ', 80))}}...</span>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> {{item?.property_address + ', ' +
                  item?.property_location}} </span>
                <hr style="margin: 8px 0px !important;">

                <div class="d-flex quantity font-fifteen">
                  <li title="Beds" class="p-1 bd-highlight"><span><i
                        class="fa-solid fa-bed"></i></span>{{item?.no_of_bedrooms}}</li>
                  <li title="Baths" class="p-1 bd-highlight"><span><i
                        class="fa-solid fa-shower"></i></span>{{item?.no_of_bathrooms}}</li>
                  <li class="ms-auto p-1 bd-highlight"><a class="btn btn-primary rounded-pill"
                      style="line-height: 25px !important; padding: 0 15px !important;" routerLink="/property-detail/{{item?._id}}">View Detail</a></li>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="propertyData?.length == 0">
          <h2 class="text-center main-title">No Property Found</h2>
        </div>

      </div>
    </div>
    <div class="row mt-4" *ngIf="propertyData?.length > 0">
      <div class="col">
        <div class="text-center">
          <button class="btn btn-primary" routerLink="/listing">View More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Recent Property End ==============-->

<!--============== Property Location Start ==============-->
<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-secondary text-center mb-5">
          <h2 class="text-secondary mx-auto mb-4">Find Projects in These Cities</h2>
          <span class="d-table w-50 w-sm-100 sub-title mx-auto text-center">Explore available properties in these
            vibrant cities.</span>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-2 row-cols-2">
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/i_love_ajmer.jpg" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a routerLink="/listing/ajmer">AJMER</a></h5>
            <p>4+ Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/jaipur.jpg" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a routerLink="/listing/jaipur">JAIPUR</a></h5>
            <p>95+ Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/kota.jpeg" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a routerLink="/listing/kota">KOTA</a></h5>
            <p>3+ Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/mumbai.jpg" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a routerLink="/listing/panvel">PANVEL,(MUMBAI)</a></h5>
            <p>1+ Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/indore.jpg" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a routerLink="/listing/indore">INDORE</a></h5>
            <p>Upcoming...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Property Location End ==============-->

<!--============== Property Tab Start ==============-->
<div class="full-row bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <h2 class="main-title">Choose Your Category</h2>
      </div>
      <div class="col-md-6">
        <div class="mix-tab">
          <ul class="nav-tab-border-active ms-auto d-table">
            <li [ngClass]="{'mixitup-control-active': categoryValues === 'all'}" (click)="categoryValue('all')" data-filter="all" value="all">All</li>
            <li [ngClass]="{'mixitup-control-active': categoryValues === 'Residential'}" (click)="categoryValue('Residential')" data-filter=".house" value="Residential">Residential</li>
            <li [ngClass]="{'mixitup-control-active': categoryValues === 'Commercial'}" (click)="categoryValue('Commercial')" data-filter=".office" value="Commercial">Commercial</li>
            <li [ngClass]="{'mixitup-control-active': categoryValues === 'Industrial'}" (click)="categoryValue('Industrial')" data-filter=".appartment" value="Industrial">Industrial</li>
            <li [ngClass]="{'mixitup-control-active': categoryValues === 'Villa'}" (click)="categoryValue('Villa')" data-filter=".land" value="Villa">Villa</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mix-element row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-4">
          <div class="col mix house land mb-30" *ngFor="let item of propertyCategoryByCat">
             <!-- Property Grid -->
             <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span [ngClass]="{'bg-success': item?.property_type === 'Sale', 'bg-danger': item?.property_type === 'Sold'}" class="sale text-white">
                    <ng-container *ngIf="item?.property_type === 'Sale'">For {{item?.property_type}}</ng-container>
                    <ng-container *ngIf="item?.property_type === 'Sold'">{{item?.property_type}}</ng-container>
                  </span>                </div>
                <a routerLink="/property-detail/{{item?._id}}"><img src="{{baseUrl}}{{item?.property_image[0]?.path}}"
                    alt="Image Not Found!" style="height: 300px;"></a>
                <a class="listing-ctg text-white"><i
                    class="fa-solid fa-building"></i><span>{{item?.property_category}}</span></a>

              </div>
              <div class="property_text p-4">
                <!-- <span class="listing-price">₹{{item?.property_price}}</span> -->
                <h5 class="listing-title"><a><b>{{item?.property_name}}</b></a>
                </h5>
                <span>{{item?.property_description.substring(0, item?.property_description.indexOf(' ', 80))}}...</span>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> {{item?.property_address + ', ' +
                  item?.property_location}} </span>
                <hr style="margin: 8px 0px !important;">

                <div class="d-flex quantity font-fifteen">
                  <li title="Beds" class="p-1 bd-highlight"><span><i
                        class="fa-solid fa-bed"></i></span>{{item?.no_of_bedrooms}}</li>
                  <li title="Baths" class="p-1 bd-highlight"><span><i
                        class="fa-solid fa-shower"></i></span>{{item?.no_of_bathrooms}}</li>
                  <li class="ms-auto p-1 bd-highlight"><a class="btn btn-primary rounded-pill"
                      style="line-height: 25px !important; padding: 0 15px !important;" routerLink="/property-detail/{{item?._id}}">View Detail</a></li>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="propertyCategoryByCat?.length == 0">
          <h2 class="text-center main-title">No Property Found</h2>
        </div>
      </div>
    </div>

    <div class="row mt-4" *ngIf="propertyCategoryByCat?.length > 0">
      <div class="col">
        <div class="text-center">
          <button class="btn btn-primary" routerLink="/listing">View More</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!--============== Property Tab End ==============-->

<!--============== Reg Banner Start ==============-->
<div class="full-row bg-secondary py-5">
  <div class="container">
    <div class="fact-counter position-relative z-index-9">
      <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="310">3210</span>
            <h5 class="text-white font-400 pt-2">Listed Property</h5>
          </div>
        </div>
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="51">51</span>
            <h5 class="text-white font-400 pt-2">Mega Project</h5>
          </div>
        </div>
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="25">25</span>
            <h5 class="text-white font-400 pt-2">Awards Won</h5>
          </div>
        </div>
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="2130">2130</span>
            <h5 class="text-white font-400 pt-2">Happy Clients</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Reg Banner End ==============-->

<!--============== Property Agent Start ==============-->
<div class="full-row bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="align-items-center d-flex">
          <div class="me-auto">
            <h2 class="d-table">Our Listed Property Agents</h2>
          </div>
          <a href="/agent-list" class="ms-auto btn-link">View All Agents</a>
        </div>
      </div>
    </div>
    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 mt-5">
      <div class="col" *ngFor="let item of agentData">
        <div class="thumb-team-simple border">
          <img class="rounded-lg" src="{{baseUrl}}{{item?.image?.path}}" alt="Agent Photo"
            style="height: 200px; width: 100%;">
          <div class="user-info p-2 d-flex py-4" style="background-color: #ffffff !important;">
            <div class="me-auto">
              <h5 class="text-dark mb-2 font-400"><a routerLink="/agent-detail/{{item?._id}}"><b>{{item?.userName}}</b></a>
              </h5>
              <span><b>Email:-</b> {{item?.email}}</span> <br>
              <span class="text-secondary font-fifteen">
                <i class="fas fa-map-marker-alt text-primary"></i> &nbsp;
                {{item?.address}}, {{item?.city}}, {{item?.state}}
              </span>
            </div>
            <div class="member-score font-small bg-primary d-table text-white ms-auto">
              <span>{{item?.category}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- No Agent Data -->
    <div *ngIf="agentData?.length == 0">
      <h2 class="text-center main-title">No Agents Found</h2>
    </div>
  </div>
</div>
<!--============== Property Agent End ==============-->


<!--============== Testimonial Section Start ==============-->
<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col mb-5">
        <span class="text-primary tagline pb-2 d-table m-auto">Testimonial</span>
        <h2 class="down-line w-50 mx-auto mb-4 text-center w-sm-100">What Client Says About Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="testimonial-simple text-center px-5">
          <div class="text-carusel owl-carousel">
            <div class="item" *ngFor="let item of clientReviewData">
              <!-- <i class="flaticon-right-quote flat-large text-primary d-table mx-auto"></i> -->
              <img class="mx-auto" src="{{baseUrl}}{{item?.user_image?.path}}" alt=""
                style="height: 100px; width: 100px; border-radius: 50%;">
              <blockquote class="text-secondary fs-5 fst-italic">“ {{item?.description}}”</blockquote>
              <h4 class="mt-4 font-400">{{item?.userName}}</h4>
              <span class="text-primary font-fifteen">({{item?.designation}})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Testimonial Section End ==============-->

<!--============== Reg Banner Start ==============-->
<div class="full-row bg-center paraxify"
  style="background-image: url(assets/assets/images/background/bg-1.png); background-repeat: no-repeat; background-position: center top;">
  <div class="container position-relative z-index-9">
    <div class="row align-items-center">
      <div class="col-lg-7 text-white">
        <h3 class="text-white mb-3">Discover our company: experts in real estate, committed to your success.</h3>
        <p>With us, your property journey is in trusted hands.</p>
        <span class="h6 d-inline-block text-white">Please Call : +91 95494-43222</span>
      </div>
      <div class="col-lg-5">
        <div class="simple-video-play d-flex">
          <div class="position-relative d-inline-block">
            <a data-fancybox href="https://www.youtube.com/watch?v=P8SKSuiaHr0"
              class="rounded-circle position-relative bg-primary" style="z-index: 10"><i
                class="flaticon-play-button position-relative xy-center flat-mini rounded-circle text-white"></i></a>
            <div class="loader position-absolute xy-center">
              <div class="loader-inner ball-scale-multiple">
                <div class="bg-primary"></div>
                <div class="bg-primary"></div>
              </div><span class="tooltip">
                <b>ball-scale-multiple</b></span>
            </div>
          </div>
          <div class="ps-4 text-white font-medium">Play Video</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Reg Banner End ==============-->

<!--============== Register Section Start ==============-->
<div class="full-row mt-2 p-0" style="margin-bottom: -50px; z-index: 100">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bg-primary p-5">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <h3 class="text-white xs-text-center">Ready to open the door to your future?</h3>
              <span class="sub-title text-white">Let us navigate the path to your dream residence together</span>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-center">
              <a routerLink="listing" class="btn btn-white d-table xs-mx-auto ms-auto">Explore Property</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Register Section End ==============-->


<app-loader *ngIf="loader"></app-loader>