<!--============== Search Banner Start ==============-->
<div class="full-row p-0"
  style="background-image: url('assets/assets/images/slider/3.png'); background-position: center center;">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-10">
        <div class="banner-search" style="padding-top: 300px; padding-bottom: 320px;">
          <h2 class="text-center mx-auto text-white">Search what you are looking for...</h2>
          <span class="d-table mx-auto text-white font-medium mb-4">We have listed over 100000+ property in our
            database</span>
          <form action="#" class="banner-search-form bg-white p-4" method="POST">
            <div class="row">
              <div class="col-lg-10 col-md-8">
                <input type="text" class="form-control" placeholder="Enter Keyword...">
              </div>
              <div class="col-lg-2 col-md-4">
                <button class="btn btn-primary w-100">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Search Banner End ==============-->

<!--============== Recent Property Start ==============-->
<div class="full-row bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-secondary text-center mb-5">
          <h2 class="text-secondary mx-auto mb-4">Featured Properties</h2>
          <span class="d-table w-50 w-sm-100 sub-title mx-auto text-center">Mauris primis turpis Laoreet magna felis
            mi amet quam enim curae. Sodales semper tempor dictum faucibus habitasse.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="3block-carusel nav-disable owl-carousel">
          <div class="item">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute"><span class="sale bg-secondary text-white">For Sale</span></div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-1.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i
                    class="fa-solid fa-building"></i><span>Apartment</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$1850<small> ( Monthly )</small></span>
                <h5 class="listing-title"><a href="property-single-v1.html">Family House Residense</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 Avenue South Burlington, VT
                  05403 </span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Sale</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-2.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Condo</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$120,5500<small> ( One Time )</small></span>
                <h5><a class="text-secondary" href="property-single-v1.html">Luxury Condos Riverside</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Rent</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-3.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Villa</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$3450<small> ( Monthly )</small></span>
                <h5><a class="text-secondary" href="property-single-v1.html">Gorgeous Villa Bay View</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Rent</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-4.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Condo</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$1,0450<small> ( Monthly )</small></span>
                <h5><a class="text-secondary" href="property-single-v1.html">New Developed Condos</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute"><span class="sale bg-secondary text-white">For Sale</span></div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-1.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i
                    class="fa-solid fa-building"></i><span>Apartment</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$1850<small> ( Monthly )</small></span>
                <h5><a class="text-secondary" href="property-single-v1.html">Family House Residense</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 Duff Avenue South
                  Burlington, VT 05403 </span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Sale</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-2.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$100,8850<small> ( One Time )</small></span>
                <h5><a class="text-secondary" href="property-single-v1.html">Luxury Condos</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Recent Property End ==============-->

<!--============== Property Location Start ==============-->
<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-secondary text-center mb-5">
          <h2 class="text-secondary mx-auto mb-4">Find Properties in These Cities</h2>
          <span class="d-table w-50 w-sm-100 sub-title mx-auto text-center">Mauris primis turpis Laoreet magna felis
            mi amet quam enim curae. Sodales semper tempor dictum faucibus habitasse.</span>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-2 row-cols-1">
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/3.png" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a href="#">Miami</a></h5>
            <p>82 Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/1.png" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a href="#">Los Angeles</a></h5>
            <p>57 Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/2.png" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a href="#">Rome</a></h5>
            <p>170 Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/4.png" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a href="#">Paris</a></h5>
            <p>17 Properties</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="hover-img-zoom text-center mb-4">
          <div class="overflow-hidden transation thumbnail-img rounded-circle bg-secondary">
            <img src="assets/assets/images/location/5.png" alt="image not found">
          </div>
          <div class="mt-3">
            <h5 class="transation font-400"><a href="#">Florida</a></h5>
            <p>27 Properties</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Property Location End ==============-->

<!--============== Property Tab Start ==============-->
<div class="full-row bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <h2 class="main-title">Featured Properties</h2>
      </div>
      <div class="col-md-6">
        <div class="mix-tab">
          <ul class="nav-tab-border-active ms-auto d-table">
            <li data-filter="all">All</li>
            <li data-filter=".house">House</li>
            <li data-filter=".office">Office</li>
            <li data-filter=".appartment">Appartment</li>
            <li data-filter=".land">Land</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mix-element row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-4">
          <div class="col mix house land mb-30">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Sale</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-1.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i
                    class="fa-solid fa-building"></i><span>Apartment</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$1850<small> ( Monthly )</small></span>
                <h5 class="listing-title"><a href="property-single-v1.html">Family House Residense</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 Duff Avenue South
                  Burlington, VT 05403 </span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="col mix office mb-30">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Rent</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-2.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Villa</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$3450<small> ( Monthly )</small></span>
                <h5 class="listing-title"><a href="property-single-v1.html">Gorgeous Villa Bay View</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="col mix appartment land mb-30">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Rent</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-3.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$1,0450<small> ( Monthly )</small></span>
                <h5 class="listing-title"><a href="property-single-v1.html">New Developed Condos</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="col mix house mb-30">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Rent</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-4.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i
                    class="fa-solid fa-building"></i><span>Apartment</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$1850<small> ( Monthly )</small></span>
                <h5 class="listing-title"><a href="property-single-v1.html">Family House Residense</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="col mix house land mb-30">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Sale</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-5.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$1,20,5500<small> ( One Time )</small></span>
                <h5 class="listing-title"><a href="property-single-v1.html">Condos Infront of River</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
          <div class="col mix appartment mb-30">
            <!-- Property Grid -->
            <div class="property-grid-1 property-block bg-white transation-this hover-shadow">
              <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom">
                <div class="cata position-absolute">
                  <span class="sale bg-secondary text-white">For Rent</span>
                  <span class="featured bg-primary text-white">Featured</span>
                </div>
                <a href="property-single-v1.html"><img src="assets/assets/images/property_grid/property-grid-6.png"
                    alt="Image Not Found!"></a>
                <a href="#" class="listing-ctg text-white"><i class="fa-solid fa-building"></i><span>Condos</span></a>
                <ul class="position-absolute quick-meta">
                  <li><a href="#" title="Add Compare"><i class="flaticon-transfer flat-mini"></i></a></li>
                  <li><a href="#" title="Add Favourite"><i class="flaticon-like-1 flat-mini"></i></a></li>
                  <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i
                        class="flaticon-zoom-increasing-symbol flat-mini"></i></a></li>
                </ul>
              </div>
              <div class="property_text p-4">
                <span class="listing-price">$6500<small> ( Monthly )</small></span>
                <h5 class="listing-title"><a href="property-single-v1.html">New Developed Condos</a></h5>
                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Tree Frog Lane Overlandpk,
                  MO 66210</span>
                <ul class="d-flex quantity font-fifteen">
                  <li title="Beds"><span><i class="fa-solid fa-bed"></i></span>7</li>
                  <li title="Baths"><span><i class="fa-solid fa-shower"></i></span>5</li>
                  <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span>1200 Sqft</li>
                  <li title="Gas"><span><i class="fa-solid fa-fire"></i></span>Yes</li>
                </ul>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 px-4 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Property Tab End ==============-->

<!--============== Reg Banner Start ==============-->
<div class="full-row bg-secondary py-5">
  <div class="container">
    <div class="fact-counter position-relative z-index-9">
      <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="310">3210</span>
            <h5 class="text-white font-400 pt-2">Listed Property</h5>
          </div>
        </div>
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="51">51</span>
            <h5 class="text-white font-400 pt-2">Mega Project</h5>
          </div>
        </div>
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="25">25</span>
            <h5 class="text-white font-400 pt-2">Awards Won</h5>
          </div>
        </div>
        <div class="col">
          <div class="my-30 text-center count wow fadeIn animate" data-wow-duration="300ms"
            style="visibility: visible; animation-duration: 300ms; animation-name: fadeIn;">
            <span class="count-num text-primary h2" data-speed="3000" data-stop="2130">2130</span>
            <h5 class="text-white font-400 pt-2">Happy Clients</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Reg Banner End ==============-->

<!--============== Testimonial Section Start ==============-->
<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col mb-5">
        <span class="text-primary tagline pb-2 d-table m-auto">Testimonial</span>
        <h2 class="down-line w-50 mx-auto mb-4 text-center w-sm-100">Whay Client Says About Us</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="testimonial-simple text-center px-5">
          <div class="text-carusel owl-carousel">
            <div class="item">
              <i class="flaticon-right-quote flat-large text-primary d-table mx-auto"></i>
              <blockquote class="text-secondary fs-5 fst-italic">“ Posuere mus curabitur parturient scelerisque
                suspendisse elementum facilisis dignissim non purus torquent turpis interdum hendrerit erat ultrices
                pretium risus elementum. Fringilla aliquet mattis lacinia quam a montes
                maecenas parturient urna varius. Sollicitudin pede sapien taciti dui.”</blockquote>
              <h4 class="mt-4 font-400">Mark Wiggins</h4>
              <span class="text-primary font-fifteen">CEO ( Grodins Group )</span>
            </div>
            <div class="item">
              <i class="flaticon-right-quote flat-large text-primary d-table mx-auto"></i>
              <blockquote class="text-secondary fs-5 fst-italic">“ Posuere mus curabitur parturient scelerisque
                suspendisse elementum facilisis dignissim non purus torquent turpis interdum hendrerit erat ultrices
                pretium risus elementum. Fringilla aliquet mattis lacinia quam a montes
                maecenas parturient urna varius. Sollicitudin pede sapien taciti dui.”</blockquote>
              <h4 class="mt-4 font-400">Mark Wiggins</h4>
              <span class="text-primary font-fifteen">CEO ( Grodins Group )</span>
            </div>
            <div class="item">
              <i class="flaticon-right-quote flat-large text-primary d-table mx-auto"></i>
              <blockquote class="text-secondary fs-5 fst-italic">“ Posuere mus curabitur parturient scelerisque
                suspendisse elementum facilisis dignissim non purus torquent turpis interdum hendrerit erat ultrices
                pretium risus elementum. Fringilla aliquet mattis lacinia quam a montes
                maecenas parturient urna varius. Sollicitudin pede sapien taciti dui.”</blockquote>
              <h4 class="mt-4 font-400">Mark Wiggins</h4>
              <span class="text-primary font-fifteen">CEO ( Grodins Group )</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Testimonial Section End ==============-->

<!--============== Reg Banner Start ==============-->
<div class="full-row bg-center paraxify"
  style="background-image: url(assets/assets/images/background/bg-1.png); background-repeat: no-repeat; background-position: center top;">
  <div class="container position-relative z-index-9">
    <div class="row align-items-center">
      <div class="col-lg-7 text-white">
        <h3 class="text-white mb-3">Do you want to sell your property ?</h3>
        <p>You can also fill out our online form if you are interested in learning more.</p>
        <span class="h6 d-inline-block text-white">Please Call : +902 100 523551</span>
      </div>
      <div class="col-lg-5">
        <div class="simple-video-play d-flex">
          <div class="position-relative d-inline-block">
            <a data-fancybox href="https://www.youtube.com/watch?v=bh-klGboIg8"
              class="rounded-circle position-relative bg-primary" style="z-index: 10"><i
                class="flaticon-play-button position-relative xy-center flat-mini rounded-circle text-white"></i></a>
            <div class="loader position-absolute xy-center">
              <div class="loader-inner ball-scale-multiple">
                <div class="bg-primary"></div>
                <div class="bg-primary"></div>
              </div><span class="tooltip">
                <b>ball-scale-multiple</b></span>
            </div>
          </div>
          <div class="ps-4 text-white font-medium">Play Video</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Reg Banner End ==============-->

<!--============== Pricing Table Content Start ==============-->
<div class="full-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 mb-5">
        <div class="text-secondary mb-5">
          <span class="text-primary text-uppercase pb-2 d-table tagline-2 font-fifteen">Event Publish Pricing</span>
          <h3 class="text-secondary mb-4">Choose the All-inclusive Pakages Best Suited to You</h3>
        </div>
      </div>
    </div>
    <div class="row divider-col-3 row-cols-xl-3 row-cols-md-2 row-cols-1">
      <div class="col">
        <div class="px-5 sm-px-0 mb-5">
          <h4 class="text-start font-400">Personal</h4>
          <div class="text-start"><span>Free Preview up to ten attendees</span></div>
          <ul class="list-style-tick my-4">
            <li>Only pay when you publish</li>
            <li>Full featured event app</li>
            <li>Unlimited featured use</li>
            <li>24/7 supports</li>
            <li>Event analytics</li>
          </ul>
          <div class="text-start"><span class="h2 font-400"><sup>$</sup>699</span></div>
          <div class="text-start my-3"><span>Publish instantly in bluebird app</span></div>
          <a href="#" class="btn btn-secondary d-table">Get Started</a>
        </div>
      </div>
      <div class="col">
        <div class="px-5 sm-px-0 mb-5">
          <h4 class="text-start font-400">Corporate</h4>
          <div class="text-start"><span>Active for 12 month</span></div>
          <ul class="list-style-tick my-4">
            <li>Only pay when you publish</li>
            <li>Full featured event app</li>
            <li>Unlimited featured use</li>
            <li>24/7 supports</li>
            <li>Event analytics</li>
          </ul>
          <div class="text-start"><span class="h2 font-400"><sup>$</sup>1,699</span></div>
          <div class="text-start my-3"><span>Publish instantly in bluebird app</span></div>
          <a href="#" class="btn btn-secondary d-table">Get Started</a>
        </div>
      </div>
      <div class="col">
        <div class="px-5 sm-px-0 mb-5">
          <h4 class="text-start font-400">Regular</h4>
          <div class="text-start"><span>Unlimited event and time</span></div>
          <ul class="list-style-tick my-4">
            <li>Only pay when you publish</li>
            <li>Full featured event app</li>
            <li>Unlimited featured use</li>
            <li>24/7 supports</li>
            <li>Event analytics</li>
          </ul>
          <div class="text-start"><span class="h2 font-400"><sup>$</sup>599</span>/mo</div>
          <div class="form-check form-switch d-flex align-items-center my-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Annually</label>
          </div>
          <a href="#" class="btn btn-secondary d-table">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Pricing Table Content End ==============-->

<!--============== Register Section Start ==============-->
<div class="full-row p-0" style="margin-bottom: -50px; z-index: 100">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bg-primary p-5">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <h3 class="text-white xs-text-center">Are you looking for a House?</h3>
              <span class="sub-title text-white">We can help you realize your dream of a new home</span>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-center">
              <a href="#" class="btn btn-white d-table xs-mx-auto ms-auto">Explore Property</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Register Section End ==============-->



<!--============== Modal Start ==============-->
<div class="overlay-dark modal fade quick-view-modal" id="quick-view">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="close view-close">
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body property-block summary p-3">
        <div class="row row-cols-xl-2 row-cols-1">
          <div class="col">
            <div class="overflow-hidden position-relative transation thumbnail-img bg-secondary hover-img-zoom m-2">
              <div class="cata position-absolute">
                <span class="sale bg-secondary text-white">For Rent</span>
                <span class="featured bg-primary text-white">Featured</span>
              </div>
              <a href="#"><img class="w-100" src="assets/assets/images/property/2.png" alt=""></a>
              <ul class="position-absolute quick-meta">
                <li><a href="#"><i class="flaticon-transfer flat-mini"></i></a></li>
                <li><a href="#"><i class="flaticon-like-1 flat-mini"></i></a></li>
                <li><a href="#"><i class="flaticon-share flat-mini"></i></a></li>
                <li><a href="#"><i class="flaticon-printer flat-mini"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="property_text transation py-3 pe-3">
              <span class="d-inline-block text-primary">Condos</span>
              <h5 class="modal-title mb-1" id="staticBackdropLabel"><a href="#"
                  class="text-secondary hover-text-primary transation">Luxury Condos Infront of the street of Green
                  Park</a></h5>
              <span class="mt-1 mb-3 d-block font-fifteen"><i class="fas fa-map-marker-alt text-primary"></i> 2305
                Tree Frog Lane Overlandpk, MO 66210</span>
              <a href="#" class="d-block text-light hover-text-primary font-small mb-2">( 100 People Recommended )</a>
              <div class="d-flex">
                <span class="text-secondary font-large">$5600 - $8300/<small>mo</small></span>
                <span class="text-white font-mini px-2 rounded product-status ms-5 my-1 bg-primary"><i
                    class="fas fa-check"></i> Available</span>
              </div>
              <div class="product-offers mt-3">
                <ul class="product-offers-list">
                  <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of
                    discount)</li>
                  <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                  <li class="product-offer-item"> <strong>No cost EMI $49/month.</strong> Standard EMI also available
                  </li>
                </ul>
              </div>
              <hr>
              <div class="quantity">
                <ul class="d-flex">
                  <li><span>Rooms:</span> 5</li>
                  <li><span>Beds:</span> 3</li>
                  <li><span>Bathrooms:</span> 2</li>
                  <li><span>Garage:</span> 1</li>
                  <li><span>Area:</span> 1100 Sqft</li>
                </ul>
              </div>
              <h5 class="text-secondary my-3">Description</h5>
              <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus
                convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra
                consequat consequat
                gravida luctus.</p>
              <div class="short-description d-flex">
                <span class="me-4"><b>Highlights:</b></span>
                <div class="short-description">
                  <ul class="list-style-tick">
                    <li>Regular Fit.</li>
                    <li>Full sleeves.</li>
                    <li>Machine wash, tumble dry.</li>
                  </ul>
                </div>
              </div>
              <div class="d-flex align-items-center post-meta mt-2 py-3 border-top">
                <div class="agent">
                  <a href="#" class="d-flex text-general align-items-center"><img class="rounded-circle me-2"
                      src="assets/assets/images/team/1.jpg" alt="avata"><span>Ali Tufan</span></a>
                </div>
                <div class="post-date ms-auto"><span>2 Month Ago</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============== Modal End ==============-->